<div class="device_full">
    <img src="http://www.gravatar.com/avatar/{{gravatar}}?d=monsterid&s=250"/>
    <br/><br/>

    <div class="add_device">
      <div class="device-input">
        <label for="name">Name:</label> <input type="text" id="name" value="{{name}}">
      </div>

      <div class="device-input">
        <label for="serial">Hub Code:</label> <input type="text" id="serial" value="{{serial}}">
      </div>

      <div class="device-input">
        <label for="switch-number">Switch Code:</label> <input type="text" id="switch-number" value="{{switchNum}}">
      </div>

      <div class="device-input">
        <label for="link">Link:</label> <input type="text" id="link" value="{{link}}"/>
      </div>

      <div class="device-input">
        <label for="description">Description:</label> <input type="text" id="description" value="{{description}}">
      </div>

    </div>
</div>



<a href="#" class="back"><< Back</a> | <a href="#" class="save-button">Save</a> | <a href="#" class="delete">Delete Device</a>
